body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.logo-text{
  font-family: 'Concert One', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.center-content {
  text-align: center;
  width: 400px;
}

header {
  background-color: #bd081c;
  color: #fff;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
  padding: 0 40px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-right: 25px;
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}

.logo-text {
  font-size: 32px;
  margin: 15px 0;
}

a{
  text-decoration: none;
  color: white;
  font-family: 'Playpen Sans', cursive;
}

.first{
  padding-right: 10px;
}

.second{
  padding-left: 10px;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
  transform: scale(0);
  animation: beat 0.8s infinite;
}

@keyframes beat {
  0% {
      transform: scale(0);
  }
  50% {
      transform: scale(1.3);
  }
  100% {
      transform: scale(0);
  }
}